<section id="colaboradores" class="padded">
    <div class="container">
        <h2>Colaboradores</h2>
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombres</th>
                            <th>Cargo</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemColaborador of listaColaboradores">
                            <td>{{itemColaborador.id}}</td>
                            <td>{{itemColaborador.nombres}}</td>
                            <td>{{itemColaborador.cargo}}</td>
                            <td><img src="{{itemColaborador.foto}}" class="foto-tabla"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>