<section id="categorias" class="padded">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Categorias</h2>
                <div class="form-group">
                    <button class="btn-primary"
                        (click)="mostrarFormularioAgregar()">
                        Nueva Categoria
                    </button>
                </div>
                <div id="formulario-agregar">
                    <form ngNativeValidate
                        [formGroup]="categoriasAgregarForm"
                        (ngSubmit)="agregarCategoria(categoriasAgregarForm.value)">
                        <div class="form-group">
                            <input type="text" class="form-control" 
                            formControlName="nombre"
                            required minlength="4" maxlength="25" 
                            placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" 
                            formControlName="descripcion"
                            required minlength="8" maxlength="50" 
                            placeholder="Descripcion">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Agregar
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary"
                                (click)="cerrarFormularioAgregar()">
                                Cerrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemCategoria of listaCategorias">
                            <td>{{itemCategoria.idcategoria}}</td>
                            <td>{{itemCategoria.nombre}}</td>
                            <td>{{itemCategoria.descripcion}}</td>
                            <td><fa-icon [icon]="faEdit" (click)="seleccionar(itemCategoria)"></fa-icon></td>
                            <td><fa-icon [icon]="faTimes" (click)="eliminar(itemCategoria)"></fa-icon></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="formulario-actualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" 
                    formControlName="nombre"
                    required minlength="4" maxlength="25" 
                    placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" 
                    formControlName="descripcion"
                    required minlength="8" maxlength="50" 
                    placeholder="Descripcion">
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>